<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet" />
    <title>DigiMedia - Creative SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="home/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="home/assets/css/templatemo-digimedia-v3.css" />
    <link rel="stylesheet" href="home/assets/css/animated.css" />
    <link rel="stylesheet" href="home/assets/css/owl.css" />
    <!--
-->
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Pre-header Starts -->
    <div class="pre-header" style="display: none">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8 col-7">
            <ul class="info">
              <li>
                <a href="#"><i class="fa fa-envelope"></i>digimedia@company.com</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>010-020-0340</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-4 col-5">
            <ul class="social-media">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-behance"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Pre-header End -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="../../../../../view/digimedia/index.html" class="logo">
                <img src="home/assets/images/logo-v3.png" alt="" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                <li class="scroll-to-section"><a href="#about">About</a></li>
                <!-- <li class="scroll-to-section"><a href="#services">Services</a></li>
                <li class="scroll-to-section"><a href="#portfolio">Projects</a></li>
                <li class="scroll-to-section"><a href="#blog">Blog</a></li> -->
                <li class="scroll-to-section">
                  <div class="border-first-button"><a href="#contact">Free Quote</a></div>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="row">
                    <div class="col-lg-12">
                      <h6>#가까운 쓰레기통 찾기</h6>
                      <h2>
                        함께, 깨끗하게! <br />
                        다같이 만들어 가는 깨끗한 우리 동네
                      </h2>
                      <!-- <p>
                        This template is brought to you by TemplateMo website. Feel free to use this for a commercial purpose. You are not allowed to
                        redistribute the template ZIP file on any other template website. Thank you.
                      </p> -->
                    </div>
                    <div class="col-lg-12">
                      <div class="border-first-button scroll-to-section">
                        <!-- <a href="#contact">Free Quote</a> -->
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="지역을 입력하세요"
                            aria-label="Recipient's username"
                            aria-describedby="button-addon2"
                          />
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="home/assets/images/3758687.jpg" alt="People 벡터는 pikisuperstar - kr.freepik.com가 제작함" />
                  <!-- <a href="https://kr.freepik.com/vectors/people">People 벡터는 pikisuperstar - kr.freepik.com가 제작함</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="contact-us section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
              <h6>검색 결과</h6>
              <h4><em>'영등포구' </em>쓰레기통 위치 정보</h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="contact-dec">
                    <img src="home/assets/images/contact-dec-v3.png" alt="" />
                  </div>
                </div>
                <div class="col-lg-5">
                  <div id="map">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50631.24020983938!2d126.87830668314085!3d37.5208289803072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9f1dbf40f193%3A0x2cd0f2c80a840b40!2z7ISc7Jq47Yq567OE7IucIOyYgeuTse2PrOq1rA!5e0!3m2!1sko!2skr!4v1638117640092!5m2!1sko!2skr"
                      width="100%"
                      height="636px"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="fill-form">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="info-post">
                          <h4 class="trash-can-infomation">일반 쓰레기통</h4>
                          <div class="icon">
                            <img src="home/assets/images/trach-can.png" alt="" />
                            <!-- <a href="#">010-020-0340</a> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="info-post">
                          <h4 class="trash-can-infomation">재활용 쓰레기통</h4>
                          <div class="icon">
                            <img src="home/assets/images/trach-recycling.png" alt="" />
                            <!-- <a href="#">our@email.com</a> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="info-post">
                          <h4 class="trash-can-infomation">상세정보</h4>
                          <div class="icon">
                            <img src="home/assets/images/trash-detail.png" alt="" />
                            <!-- <a href="#">123 Rio de Janeiro</a> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-13">
                        <fieldset class="custom-fieldeset">
                          <label class="custom-label" for="name">도로(가로)명</label>
                          <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required />
                        </fieldset>
                        <fieldset class="custom-fieldeset">
                          <label class="custom-label" for="email">설치위치</label>
                          <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="" />
                        </fieldset>
                        <fieldset class="custom-fieldeset">
                          <label class="custom-label" for="subject">설치지점</label>
                          <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on" />
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-button">경로 찾기</button>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="about" class="about section" style="display: none">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="about-left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="home/assets/images/Recycling-rafiki.png" alt="" />
                </div>
              </div>
              <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="about-right-content">
                  <div class="section-heading">
                    <h6>About Us</h6>
                    <h4>가장 많이 발견되는 쓰레기 <em>종류</em></h4>
                    <div class="line-dec"></div>
                  </div>
                  <p>
                    We hope this DigiMedia template is useful for your work. You can use this template for any purpose. You may
                    <a rel="nofollow" href="http://paypal.me/templatemo" target="_blank">contribute a little amount</a> via PayPal to
                    <a href="https://templatemo.com/contact" target="_blank">support TemplateMo</a> in creating new templates regularly.
                  </p>
                  <div class="row">
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="90">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              53%<br />
                              <span>담배꽁초</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br />
                              <span>Photoshop</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br />
                              <span>Animation</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              Copyright © 2022 DigiMedia Co., Ltd. All Rights Reserved. <br />Design:
              <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a> <br />Distributed By:
              <a href="https://themewagon.com" target="_blank" title="free css templates">ThemeWagon</a>
              <a href="https://kr.freepik.com/vectors/people">People 벡터는 pikisuperstar - kr.freepik.com가 제작함</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="home/vendor/jquery/jquery.min.js"></script>
    <script src="home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="home/assets/js/owl-carousel.js"></script>
    <script src="home/assets/js/animation.js"></script>
    <script src="home/assets/js/imagesloaded.js"></script>
    <script src="home/assets/js/custom.js"></script>
  </body>
</html>
